{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Add New Recipe</h2>

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    
        <div class="mb-3">
            {{ form.title.label }} {{ form.title(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.description.label }} {{ form.description(class="form-control") }}
        </div>
    
        <div class="mb-3">
            {{ form.tags.label }} {{ form.tags(class="form-control") }}
        </div>
    
    
        <div class="mb-3">
            {{ form.ingredients.label }}
            <textarea name="ingredients" class="form-control" rows="4" required>
                {{ form.ingredients.data.replace(',', '\n') if form.ingredients.data else '' }}
            </textarea>
            <small class="form-text text-muted">Enter each ingredient separate them with commas.</small>
        </div>
        <div class="mb-3">
            {{ form.instructions.label }}
            <textarea name="instructions" class="form-control" rows="4" required>
                {{ form.ingredients.data.replace(',', '\n') if form.instructions.data else '' }}
            </textarea>
            <small class="form-text text-muted">Enter each instruction on a new line or separate them with commas.</small>
        </div>
        <div class="mb-3">
            {{ form.image.label }} {{ form.image(class="form-control") }}
        </div>
    
        <div class="mb-3">
            {{ form.video.label }} {{ form.video(class="form-control") }}
        </div>
    
        <button type="submit" class="btn btn-primary">Add Recipe</button>
    </form>
    
    <a href="{{ url_for('routes.admin_dashboard') }}" class="btn btn-secondary mt-3">Back to Admin Dashboard</a>
</div>
{% endblock %}
