{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>{{ recipe.title }}</h1>

    <!-- Debugging: Display Image Path
    <p>Image Path: {{ recipe.image_path }}</p> -->

    {% if recipe.image_path %}
    <img src="{{ url_for('static', filename=recipe.image_path) }}" 
    alt="{{ recipe.title }}" 
    class="img-fluid recipe-image">

    {% else %}
    <p>No image available</p>
    {% endif %}
   <h3>Ingredients:</h3>
<form>
    {% for ingredient in ingredients %}
        <div class="list-group-item">
            <input type="checkbox" id="{{ ingredient }}" name="ingredients">
            <label for="{{ ingredient }}">{{ ingredient }}</label>
        </div>
    {% endfor %}
</form>


<h3>Steps:</h3>
{% for step in instructions %}
    <p>{{ step }}.</p>
{% endfor %}



<!-- 
   Debugging: Display Video Path 
    <p>Video Path: {{ recipe.video_path }}</p> -->
<h3>Video: </h3>
    {% if recipe.video_path %}
    <video width="600" height="400" controls>
        <source src="{{ url_for('static', filename=recipe.video_path) }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% else %}
    <p>Sorry! Video recipe is not available yet!</p>
    {% endif %}
</div>
{% endblock %}
